<aside class="acc-sidebar">

  
    <h3>Akun</h3>

    <div class="sidebar-nav">
      <a href="/profile"><i class="fas fa-user"></i> Profil</a>
      <a href="/profile/edit"><i class="fas fa-cog"></i> Pengaturan</a>
      <a href="/profile/password"><i class="fas fa-lock"></i> Ganti Password</a>
      <form action="/logout" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn-secondary"><i class="fas fa-sign-out-alt"></i> Keluar</button>
      </form>
    </div>
</aside>