<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- page_title %> - CekSaku</title>
  <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <div class="auth-layout">
    <div class="auth-container">
      <div class="left-column">
        <div class="content">
          <h1>Kelola Uang Anda di Satu Tempat</h1>
          <p>Dengan CekSaku Anda Dapat Memanajemen Uang Anda dengan Mudah dan Akurat. Dpatkan Laporan Pendapatan dan Transaksi dengan Kategorisasi Otomatis.</p>
        </div>
      </div>

      <div class="right-column">
        <div class="auth-form">
          <%- body %>
        </div>
      </div>
    </div>
  </div>
</body>

</html>