<%- contentFor('page_title') %>Ganti Pasword Akun <%- contentFor('body') %>
<div class="container body-wrapper">
  
  
  <%- include('../partials/settings-sidebar') %>
  <main class="ganti-pass">
    <h1>Ganti Password</h1>
    <div class="content-wrapper">
      <div class="md-content-width transaction-detail">
        <form action="/profile/password" method="POST">
          <input type="hidden" name="_method" value="PUT" />
          <div class="form-group">
            <label for="old_password" class="text-medium">Password Lama</label>
            <input type="password" name="old_password" />
          </div>
          <div class="form-group">
            <label for="new_password" class="text-medium">Password Baru</label>
            <input type="password" name="new_password" />
          </div>
          <button type="submit" class="btn-primary">Password Ganti</button>
        </form>
      </div>
    </div>
  </main>
</div>
